[submodule ".registry"]
	path = .registry
	url = https://github.com/dfsp-spirit/universe
	branch = HEAD
[submodule "regfusionr"]
	path = regfusionr
	url = https://github.com/dfsp-spirit/regfusionr
[submodule "freesurferformats"]
	path = freesurferformats
	url = https://github.com/dfsp-spirit/freesurferformats
[submodule "fsbrain"]
	path = fsbrain
	url = https://github.com/dfsp-spirit/fsbrain
[submodule "haze"]
	path = haze
	url = https://github.com/dfsp-spirit/haze
[submodule "pkgfilecache"]
	path = pkgfilecache
	url = https://github.com/dfsp-spirit/pkgfilecache
[submodule "wal"]
	path = wal
	url = https://github.com/dfsp-spirit/wal
[submodule "brainloc"]
	path = brainloc
	url = https://github.com/dfsp-spirit/brainloc
