[submodule ".registry"]
	path = .registry
	url = https://github.com/dfsp-spirit/dfsp-spirit.r-universe.dev
	branch = HEAD
[submodule "brainloc"]
	path = brainloc
	url = https://github.com/dfsp-spirit/brainloc
	branch = v0.1.0
[submodule "freesurferformats"]
	path = freesurferformats
	url = https://github.com/dfsp-spirit/freesurferformats
	branch = v1.0.1
[submodule "fsbrain"]
	path = fsbrain
	url = https://github.com/dfsp-spirit/fsbrain
	branch = v0.6.0
[submodule "haze"]
	path = haze
	url = https://github.com/dfsp-spirit/haze
	branch = v0.4.0
[submodule "pkgfilecache"]
	path = pkgfilecache
	url = https://github.com/dfsp-spirit/pkgfilecache
	branch = v0.2.0
[submodule "regfusionr"]
	path = regfusionr
	url = https://github.com/dfsp-spirit/regfusionr
	branch = v0.3.0
[submodule "scimesh"]
	path = scimesh
	url = https://github.com/dfsp-spirit/scimesh
	branch = v0.3.4
[submodule "wal"]
	path = wal
	url = https://github.com/dfsp-spirit/wal
	branch = v0.2.1
